<article class="li">
  <header>
    <div class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
    <div class="date">
      <span class="text">{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</span>
      <span class="text">Tag.{{ range .Params.tags }}<a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>{{ end }} </span>
    </div>
  </header>
  <div class="body">{{ if .Truncated }}{{ .Summary }}{{ else }}{{ .Content }}{{ end }}</div>

  {{ if .Truncated }}
  <footer>
    <a href="{{ .Permalink }}" class="btn btn-default">Read More…</a>
  </footer>
  {{ end }}
</article>
<hr>
